[submodule "external/lightweight-human-pose-estimation.pytorch"]
	path = external/lightweight-human-pose-estimation.pytorch
	url = https://github.com/Daniil-Osokin/lightweight-human-pose-estimation.pytorch
