addict==2.4.0
annotated-types==0.5.0
anyio==3.7.1
backcall==0.2.0
Bottleneck @ file:///tmp/build/80754af9/bottleneck_1648028896657/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1625213448432/work
brotlipy==0.7.0
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1625835301720/work
chardet==5.1.0
charset-normalizer==3.1.0
chumpy==0.70
click==8.1.8
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1634254711879/work
cycler==0.11.0
Cython==0.29.26
decorator==4.4.2
decord==0.6.0
exceptiongroup==1.3.0
fastapi==0.103.2
fonttools==4.38.0
fvcore==0.1.5.post20221221
h11==0.14.0
idna @ file:///croot/idna_1666125576474/work
imageio==2.27.0
imageio-ffmpeg==0.4.8
importlib-metadata==6.7.0
iopath==0.1.10
ipython==7.34.0
jedi==0.18.2
json-tricks==3.16.1
kiwisolver==1.4.4
matplotlib==3.5.3
matplotlib-inline==0.1.6
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
mmcv-full @ https://download.openmmlab.com/mmcv/dist/cu113/torch1.11.0/mmcv_full-1.5.0-cp37-cp37m-manylinux1_x86_64.whl
mmdet==2.23.0
mmpose==0.24.0
moviepy==1.0.3
msgpack==0.6.2
msgpack-numpy==0.4.7.1
munkres==1.1.4
numexpr @ file:///tmp/build/80754af9/numexpr_1640704205123/work
numpy==1.20.3
opencv-python==4.7.0.72
packaging==23.0
pandas==1.3.5
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
portalocker==2.7.0
proglog==0.1.10
prompt-toolkit==3.0.38
-e git+https://github.com/firework8/ProtoGCN.git@ddf7f274f9f5d9e45a2fcfeb299bfb3fd7c2303d#egg=protogcn&subdirectory=../../../external/ProtoGCN
ptyprocess==0.7.0
pycocotools==2.0.6
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic==2.5.3
pydantic_core==2.14.6
Pygments==2.14.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==3.0.9
PySocks @ file:///tmp/build/80754af9/pysocks_1594394576006/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==0.21.1
pytz @ file:///croot/pytz_1671697431263/work
PyYAML==6.0
pyzmq==26.2.1
requests==2.28.2
scipy==1.7.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.3.1
starlette==0.27.0
tabulate==0.9.0
termcolor==2.2.0
terminaltables==3.1.10
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.7.1
urllib3==1.26.15
uvicorn==0.22.0
wcwidth==0.2.6
xtcocotools==1.13
yacs==0.1.8
yapf==0.32.0
zipp==3.15.0
